torch==2.0.1 --index-url https://download.pytorch.org/whl/cu118
torchvision==0.15.2 --index-url https://download.pytorch.org/whl/cu118

opencv-python
tqdm
numpy
kiui
rich
ninja
pandas
scipy
scikit-learn
matplotlib
imageio==2.33.1
imageio-ffmpeg
omegaconf
xformers==0.0.22
einops
plyfile
pygltflib
urllib3
chardet
# for stable-diffusion
huggingface_hub
diffusers
accelerate
transformers
trimesh

# for dmtet and mesh export
xatlas
trimesh
PyMCubes
pymeshlab
rembg[gpu,cli]

#
pillow
fastapi
fastapi_limiter
redis
rq
websockets
uvicorn